{% extends 'layout/base.html' %}

{% block content %}
<ul class="nav nav-tabs">
  <li><a href="#constitution" data-toggle="tab">Our Constitution</a></li>
  <li><a href="#members" data-toggle="tab">Our Members</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="constitution">
    <h1>Project RISHI Constitution</h1>
    <h3>Westview High School Chapter</h3>
    <br>
    <h2>Statement of Purpose</h2>
    <p>The Westview chapter of Project RISHI (Rural India Social and Health Improvement) was established in April of 2012 as an extension of the program started at UCSD in September 2009. The purpose for this chapter is to provide funds to meet the needs of rural Indian villages, more specifically those started by Baba Amte. The chapter also provides high school student with exposure to philanthropy and the skill sets needed to organize an effective and cooperative team. Project RISHI is a non-profit, student run organization.</p>

    <p>Our goal is to aid UCSD with their target sites of Hemalkasa and Mulgavan, villages which were started by Baba Amte and are currently maintained by his family. For several decades, these villages have blossomed and made incredible strides in the areas of education, healthcare, social problems, and agriculture. With the infrastructure needed to provide support already in place, Project RISHI focuses on providing funding to keep these villages maintained. Unlike many Indian government projects, all of the money donated will find its way into India in some form of support, allowing us to make a huge impact with our funds.</p> 

    <p>Westview Project RISHI will meet weekly and concentrate on raising money through fundraisers as well as by recruiting sponsors to support our future projects. The Westview branch will coordinate with India through the UCSD group, and the Westview and UCSD branches will pool funds together. These funds will be used only for operational costs and projects. Members attending the trip to India will be required to pay for the trip with their own money, not RISHI fundings.</p>
    <h2>Eligibility for Voting Privileges</h2>
    <p>Only those who occupy a position on the leadership committee will be allowed to vote when an executive or administrative decision must be made via vote. The opinions of members who do not occupy a position on the leadership committee will be taken into consideration, but the final decision will be determined by the votes of the leadership committee members. The leadership committee consists of the President/Project Manager, Vice President, Corporate Chair/Sponsorship Chair, Secretary, Historian, Fundraising Chair, and Webmaster.</p>
    <h2>Voting Procedures</h2>
    <p>When a decision needs to be made through formal voting, a consensus will
      be reached a majority consensus. Voting for positions will only take place with a vacancy in a leadership board position.</p>
    <h2>Procedures for Amending the Constitution</h2>
    <p>Amending the constitution will be determined by administrative action, so the leadership committee will vote upon and review constitutional amendments. Voting procedures and privileges for constitutional amendments are defined by part ii. Amendments that pass will take effect immediately after the meeting in which they are approved.</p>
    <h2>Officer Duties</h2>
    <h3>President/Project Manager*</h3>
    <ul>
      <li>Coordinate and officiate meetings</li>
      <li>Oversee all aspects of the project</li>
      <li>Delegate work to leadership and members</li>
      <li>Make executive decision about the project</li>
      <li>Conduct interviews and select leadership team for upcoming year</li>
      <li>Serve as the liaison for UCSD chapters</li>
      <li>Review potential project proposals</li>
      <li>Plan and design project with Amte family</li>
      <li>Coordinate tasks for project completion</li>
      <li>Allocate funds for projects accordingly</li>
    </ul>
    <h3>Vice President*</h3>
    <ul>
      <li>Serve as campus liaison</li>
      <li>Book rooms for meetings and spaces for events</li>
      <li>Take over  for President if President is absent from a meeting</li>
      <li>Help select leadership positions</li>
      <li>Perform unanticipated tasks that are not explicitly delegated already</li>
    </ul>
    <h3>Corporate Chair/Sponsorship Chair</h3>
    <ul>
      <li>Contact outside organizations and groups for donations</li>
      <li>Contact corporations and request sponsorship</li>
      <li>Conduct stewardship for sponsors and donors</li>
    </ul>
    <h3>Secretary</h3>
    <ul>
      <li>Take minutes at meetings and email them out after</li>
      <li>Coordinate email notifications</li>
      <li>Take notes for whatever is necessary</li>
    </ul>
    <h3>Historian*</h3>
    <ul>
      <li>Take pictures of fundraising efforts</li>
      <li>Take pictures and videos of trip</li>
      <li>Compile media presentations for members, donors and sponsors</li>
    </ul>
    <h3>Fundraising Chair</h3>
    <ul>
      <li>Coordinate fundraising events on campus</li>
      <li>Come up with ideas to raise money</li>
      <li>Present to campus organizations for funding</li>
    </ul>
    <h3>Webmaster</h3>
    <ul>
      <li>Create website and coordinate it with UCSD</li>
      <li>Compile relevant information on the website</li>
      <li>Establish a way to donate online</li>
      <li>Create a logo/graphic for the organization</li>
    </ul>
    <p>All officers are expected to attend meetings regularly and provide valid excuses for absence. Excessive absences or negligence from officers may result in removal from the leadership team.<br>
      *It is expected that the officers that hold one of the above positions that has an * next to it will attend the summer trip.
    </p>
    <h2>Liability and Insurance</h2>
    <p>Those that choose to attend future trips will be made aware of hazards present on the trip and will be required to sign a waiver that absolves the Westview Chapter, its affiliates, and principal members from any liability as a result of illness, personal injury, damage to personal property or unforeseen events. Members will acknowledge that they are attending the trip upon their own volition and that the accept all liabilities.</p>
    <h2>Provision to make financial records available</h2>
    <p>Should a need arise, the members of Project RISHI will produce the organization.s financial records for review. a copy of checks received and written as well as costs that arise will be filed. Should such informations be required, Project RISHI should be given adequate notice (3 Weeks) to produce the requested documents.</p>
  </div>
  <div class="tab-pane" id="members">
    <div class="row">
      <div class="span4">
        <h2>Siddhi Ramesh</h2>
	<h3>President</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="http://www.facebook.com/groups/146748955456820/">Contact info &raquo;</a></p>
      </div>
      <div class="span12">
	<h1>Board of Directors</h1>
	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
      </div>
      <div class="span4">
        <h2>Rohan Khurana</h2>
	<h3>Vice President</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">Contact info &raquo;</a></p>
      </div>
      <div class="span4">
        <h2>Aseem Keyal</h2>
	<h3>Webmaster</h3>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn" href="#">Contact info &raquo;</a></p>
      </div>
      <div class="span4">
        <h2>Ann Liu</h2>
	<h3>Secretary</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">Contact info &raquo;</a></p>
      </div>
      <div class="span4">
        <h2>Tina Quach</h2>
	<h3>Historian</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">Contact info &raquo;</a></p>
      </div>
      <div class="span4">
        <h2>Cameron Ramos</h2>
	<h3>Corporate/Sponsorship Chair</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">Contact info &raquo;</a></p>
      </div>
      <div class="span4">
        <h2>Menaka Ramprasad</h2>
	<h3>Fundraising Chair</h3>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">Contact info &raquo;</a></p>
      </div>
    </div>
  </div> <!--End Our members tab div-->
</div> <!--End all tab content-->
{% endblock %}
